body {
  min-height: 100vh;
  margin: 0;
  background: #f2f2f2;
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Bodoni", serif;

  text-transform: capitalize;
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: aqua;
  box-shadow: 0.5px 10px coral;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header.logo {
  font-weight: bolder;
  font-size: 25px;
  color: blue;
}

header.navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: orange;
  display: block;
}
header .navbar ul li a:hover {
  background: palevioletred;
  color: green;
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: violet;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid black;
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}
#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: ivory border-top, 1px solid black;
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li {
    background: brown;
  }
  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  #menu-bar:checked .navbar {
    display: initial;
  }
}
h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  margin: 100px 0;
  padding-top: 100px;
}
.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 2 rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: #f2f2f2;
}
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.26);
  transform: translate(0px, -8px);
}
img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
p {
  text-align: center;
  color: #b2bec3;
  padding-top: 0 8px;
}

h6 {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
li {
  padding: 5px;
}
.fa {
  font-size: 26px;
  transition: 0.4s;
}
.checked {
  color: #ff9f43;
}
.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}
button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.buy-1 {
  background: #2183a2;
}
.buy-2 {
  background: #3e63;
}
.buy-3 {
  background: #0b0b0b;
}
.buy-4 {
  background: #ff9f43;
}
@media (max-width: 1000px) {
  .content {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
}
